/* index.css
 *
 */

html
{
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
  font: 14px Helvetica, Arial;
  height: 100%;
  width: 100%;
}

.panel
{
    min-height:25px;
}
.bottom-spacer
{
    display: inline-flex;
    height: 100%;
}
#header
{

    height: 45px;
    background-color: black;
    color: white;
    padding: 10px;
    width:100%;
}


#body
{
    height: calc(100% - 45px );
    width: 100%;
}

#gameWrapper
{
    float: left;
    width: 70%;
    height: 100%;
    background-color: lightgrey;
}


/* GAME STUFF */
#preGameWindow
{
    padding: 10px;
}

#gameWindow
{
    padding: 10px;
    background-color: grey;
    height: 100%;
    width: 100%;
    display: none;
    float: left;
}

#goal li
{
    font-size: 20px;
    font-family: impact;
    float: left;
    padding: 2px;
    margin: 1.5px;
    width: 18px;
    border-color: white;
    border-radius: 2px;
}

#goal
{
    list-style-type: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #404040;
}

#message
{
    padding: 5px;
    border-radius: 5px;
    background-color: #404040;
}

.playerbox
{
    border-radius: 10px;
    background-color: white;
    margin:10px;
    padding:10px;
    font-family: 'Aclonica';
    font-size: 22px;
    width: 220px;
}
#player
{
    color: black;
    border-radius: 2px;
    font-family: 'Aclonica';
    font-size: 16px;
    padding: 3px;
}

/* CHAT STUFF */
#chatWrapper
{
    position: relative;
    padding: 10px;
    float: left;
    height: 100%;
    width: 30%;
    border-color: black;
}

#chatBody
{
    width: 100%;
    overflow: auto;
    height: 100%;
}

#chatInput
{
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
}

#messages
{
    font-size: 15px;
    height: 100%;
    word-wrap: break-word;
    list-style-type: none;
    bottom: 0;
}
#messages li
{
    padding: 5px 10px;
}

@media only screen and (max-width: 550px) {
    body
    {
      font: 10px Helvetica, Arial;
    }

    .panel
    {
        min-height:15px;
    }
    #header
    {
        font-size: 10px;
        height: 20px;
        padding: 0px;
    }

    #body
    {
        height: calc(100% - 20px );
        width: 100%;
    }


    /* GAME STUFF */
    #preGameWindow
    {
        padding: 5px;
    }

    #gameWindow
    {
        padding: 5px;
    }

    #goal li
    {
        font-size: 16px;
        padding: 1px;
        margin: 1px;
        width: 14px;
        border-radius: 1px;
    }

    #goal
    {
        padding: 3px;
        border-radius: 3px;
    }

    #message
    {
        padding: 3px;
        border-radius: 3px;
    }

    .playerbox
    {
        border-radius: 5px;
        margin:5px;
        padding:5px;
        font-size: 11px;
        width: 70px;
    }
    #player
    {
        color: black;
        border-radius: 2px;
        font-size: 8px;
        padding: 2px;
    }

}
