body {
  font: 14px Helvetica, Arial;
  }

#gameWindow {
    display: none;
}

.players{
    overflow: hidden;
}

.players div{
    float: left;
    padding: 2px;
}

#goal ul li{
    font-size: 20;
    float: left;
    padding: 2px;
}

#goal ul{
    list-style-type: none;
    padding: 2px;
}
