<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>


<body>
    <script src="../../public/js/client.js"></script>
    <% include ../partials/nav %>

    <div class="container" style="padding-top:200px;">
        <div class="jumbotron text-center">
            <h1>Game</h1>
            <a href="/rooms/one" class="btn btn-lg btn-success"> Enter Game Room 1</a>
            <a href="/rooms/two" class="btn btn-lg btn-success"> Enter Game Room 2</a>
            <a href="/rooms/three" class="btn btn-lg btn-success"> Enter Game Room 3</a>
            <a href="/rooms/four" class="btn btn-lg btn-success"> Enter Game Room 4</a>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>
