<!DOCTYPE html>

<html lang="en">
    <% include ../partials/head %>
    <body>
        <link rel="stylesheet" href="../../public/css/index.css" />

        <% include ../partials/nav %>
        <% include ../partials/gamescreen %>
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>
</html>
